body{
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow
    );
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: flex;
}
.box{
    width: 500px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 8px;
    margin: 250px auto;
    padding: 5px 20px;
   overflow: hidden;
   height: 200px;
}
.output{
    width: 500px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 8px;
    margin: 5px;
    padding: 5px 20px;
    height: 600px;
    overflow: scroll;
    text-transform: capitalize;
    display: flex;
    gap: 24px;
      
}
.output::-webkit-scrollbar{
    display: none;
}
.output:hover{
    box-shadow: 10px 10px 20px black; 
    
}
.output:hover p{
    animation: tilt 2s ease-in-out 2;
}
@keyframes tilt {
20%{
    transform: rotate(1deg);
}
40%{
    transform: rotate(0deg);
}
60%{
    transform: rotate(-1deg);
}

}
input{
    width: 450px;
    box-sizing: border-box;
    margin: 5px 0px;
    display: block;
    border-radius: 6px;
}
.btn{
    outline: none;
    cursor: pointer;
    background-color: black;
    color: antiquewhite;
    padding: 5px 18px;
    border-radius: 8px;
}
.box:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
    animation: color 2s ease-in-out  infinite;
}
@keyframes color {
    0%{
        background-color:rgb(140, 236, 236) ;
    }
    20%{
        background-color:rgb(87, 87, 223) ;
    }
    40%{
        background-color:rgb(175, 148, 201) ;
    }
    60%{
        background-color:rgb(164, 194, 106) ;
    }
    80%{
        background-color:rgb(149, 204, 149) ;
    }
    100%{
        background-color:rgb(185, 139, 185) ;
    }
    
}
.head{
    background-color: antiquewhite;
    border-radius: 5px;
    padding-left: 6px;
    text-transform: capitalize;
}
.head:hover{
    background-color: transparent;
}

input{
    padding: 3px 8px;
}
.user{
    display: flex;
    gap:24px;
    border-radius: 6px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
}
/* .user p{
    padding: 2px;
    background-color: #ffffff;
   
} */

@media (max-width:600px){
    .container {
        display: block;
        align-items: center;
        
    }
    
}